@media (max-width: 1220px) {
  .container {
    width: 820px;
  }
  main{
    .join{
      &__content{
        h1{
          font-size: 40px;
        }
        p{
          font-size: 18px;
        }
        .join__content-location{
          div:first-child{
            padding: 15px;
          }
          div:last-child{
            p{
              font-size: 14px;
            }
          }
        }
        &-checked{
          span{
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .container {
    width: 620px;
  }
  header {
    nav {
      .nav__content {
        ul {
          display: none;
        }
      }
    }
  }
  main {
    .main-bg-img {
      width: 50%;
      height: 40%;
    }
  }
}

@media (max-width: 620px) {
  .container {
    width: 420px;
  }
  header {
    nav {
      .nav__content {
        button {
          padding: 10px 15px;
          font-size: 12px;
        }
      }

      .nav__bottom {
        display: block;
        ul {
          a {
            font-size: 12px;
          }
          li:hover {
            a {
              color: #fe772d;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }

  main{
    .join{
      &__content{
        .span{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .container {
    width: 220px;
  }
  header {
    nav {
      .nav__content {
        justify-content: center;
        button {
          display: none;
        }
      }

      .nav__bottom {
        display: block;
        ul {
          a {
            font-size: 8px;
          }
          li:hover {
            a {
              color: #fe772d;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
    .hero {
      &__content {
        &-top {
          &-calendar {
            p {
              font-size: 16px !important;
            }
          }
          h1{
            font-size: 40px;
          }
        }
        .img{
          width: 100px;
        }
      }
    }
  }
  #main {
    main {
      .memories {
        &__content {
          &-top {
            h1 {
              font-size: 30px !important;
            }
          }
        }
      }
      .hosts{
        &__content{
          &-bottom{
            &-card{
              width: 300px;
              height: 400px;
            }
          }
        }
      }
    }

  }
  footer{
    .footer__content{
      h1{
        font-size: 40px;
      }
    }
  }
}
